<!DOCTYPE html>
<html>
<head>
  <title>Full country select</title>
  <%= stylesheet_link_tag    "full_country_select/application", media: "all" %>
  <%= javascript_include_tag "full_country_select/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
